@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary-50: #f4ece1;
  --color-primary-75: #fcfbf7;
  --color-primary-100: #ffffff;
  --color-primary-90: #fdf2e9;
  --color-primary-1300: #0e2e2e;

  /* --color-primary-accent-75: #b35800; */
  --color-primary-accent-75: #b8651b;
  /* --color-primary-accent-100: #ff7e00; */
  /* --color-primary-accent-200: #e67e22; */
  --color-primary-accent-100: #e67e22;
  --color-primary-accent-150: #febb41;
  --color-accent-glow: #ff7e00;

  --color-primary-base-75: #666666;
  /* --color-primary-base-100: #c4c4c4; */
  --color-primary-base-100: #484848;
  /* --color-primary-base-100: #8d8d8d; */
  --color-primary-base-150: #909090;
  --color-primary-base-200: #2f2f2f;
  --color-primary-base-250: #333;
  /* --color-primary-base-300: #000000; */
  /* --color-primary-base-400: #112a46; */
  --color-primary-base-500: #1a1a1a;
  /* --color-primary-base-500: #2f2f2f; */

  --font-family: "Poppins", sans-serif;
}

.transition-properties {
  @apply transition-all duration-150;
}
